<?xml version="1.0" encoding="utf-8"?>

<log4net debug="false">
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{HH:mm:ss,ff} %message%newline" />
		</layout>
	</appender>
	<appender name="fileApp" type="log4net.Appender.FileAppender">
		<param name="File" value="LogFile.log" />
		<param name="AppendToFile" value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="Console" />
		<appender-ref ref="fileApp" />
	</root>
</log4net>